default_mode "normal"
simplified_ui false
session_serialization false

plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="file:{{HOME}}/.config/zellij/plugins/zjstatus.wasm"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

load_plugins {
}

keybinds {
    shared_except "locked" {
        unbind "Alt a";
        bind "Alt c" {
            Run "bash" "-lc" "AOC_CONTROL_NO_FLOAT=1 AOC_CONTROL_FLOATING_ACTIVE=1 exec aoc-control" {
                floating true
                close_on_exit true
            };
        }
        bind "Alt s" { NextSwapLayout; }
        bind "Alt [" { GoToPreviousTab; }
        bind "Alt ]" { GoToNextTab; }
        
        // Safety: Unbind Ctrl+q (Quit) so it passes to Micro/Yazi
        // To quit: Ctrl+o (Session) -> q
        unbind "Ctrl q";
    }
}
